{% include 'base.html' %}
{% block content %}
     <div class="container">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <header class="page-header">Activities</header>
                        <div class="panel panel-default">
                            <div class="panel panel-heading">
                                Activities
                            </div>
                            <div class="panel panel-body">

                            <table class="table table-condensed  table-responsive table-bordered" id="demo" style="font-size: 12px;">  
                                <thead class="alert alert-success">  
                                        <th>Venue</th>
                                        <th>About Activity</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Change Status</th>
                                        <th></th>
                                </thead>
                    
                                {% for keys,values in data.items() | reverse %}
                                        {% if values[-1] == session['user'] %}
                                    <tr> 
                                        <td>{{ keys }}</td>
                                        <td>{{ values[0] }}</td>
                                        <td>{{ values[1] }}</td>
                                        <td> 
                                            
                                            {% if values[2] == 'done' %}
                                            {{ values[2] }} <i style="color: green;" class="glyphicon glyphicon-ok-circle"></i>
                                            {% endif %}

                                            {% if values[2] == 'pending' %}
                                            {{ values[2] }} <i style="color: goldenrod;" class="glyphicon glyphicon-asterisk"></i>
                                            {% endif %}   
                                            {% if values[2] == 'canceled' %}
                                            {{ values[2] }} <i style="color: red;" class="glyphicon glyphicon-remove-circle"></i>
                                            {% endif %}                                        
                                        </td>

                                        <td>
                                            {% if values[2] != 'done' %}
                                          <a href="{{ url_for('mark_done', title=keys) }}" class="btn btn-default btn btn-sm"> Done <i style="color: green" class="glyphicon glyphicon-ok-circle"></i></a>
                                            {% endif %}

                                            {% if values[2] == 'done'   %}
                                          <a href="{{ url_for('mark_set_pending', title=keys) }}" class="btn btn-default btn btn-sm"> Pending <i style="color: gold" class="glyphicon glyphicon-asterisk"></i> </a>    
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{{ url_for('get_invited_friends',title=keys) }}" class="btn btn-default btn-sm">View Invited <span class="glyphicon glyphicon-eye-open"></span> </a>
                                            <button class="btn btn-default btn-sm">Update <span class="glyphicon glyphicon-refresh"></span></button>
                                            <a href="{{ url_for('delete_activity', title=keys) }}" class="btn btn-default btn-sm" onclick="return confirm('Are you sure your want to delete this?')">Delete <span class="glyphicon glyphicon-remove-circle"></span> </a>
                                        </td>
                                        
                                    </tr>
                                    {% endif %}
                            {% endfor %}
                                    
                            </table>
                            </div>
                            <div class="panel panel-footer">

                            </div>

                        </div>

                            <a href="{{ url_for('new_activity') }}" class="btn btn-default"> <span class="glyphicon glyphicon-plus-sign"></span> Add New Activity</a>
                    </div>
                    <div class="col-md-1">

                    </div>

    
</div>

{% endblock %}
</div>
     <hr  style="margin-bottom: 0px;"/>
     <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8" >
        &copy bucket list application 2017
        </div>


        <div class="col-md-2">

        </div>
     </div>
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename ='js/jquery.dataTables.js') }}"></script>    
    <script type="text/javascript" src="{{ url_for('static',filename ='js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#demo').dataTable({});
        });
    </script>
{% endblock %}
</html>
