{% include 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-datetimepicker.css') }}">

     <div class="container">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <header class="page-header">New Activity</header>
                    <div class="panel panel-default">
                            <div class="panel panel-heading">
                                New Activity
                            </div>
                            <div class="panel panel-body">
                                <form action="{{ url_for('new_activity') }}"  method="POST">

                                    <div class="form-group">                            
                                                   Activity Venue
                                    <input type="text" class="form-control" name="title" placeholder="Venue: Activity" required>
                                    </div>

                                    <div class="form-group">  
                                            Activity About
                                        <textarea name="description"  cols="10" rows="2" placeholder="Activity: About" class="form-control" required>
                                        </textarea>
                                    </div>

                                 
                                        
                                            <div class="row">
                                                <div class='col-sm-6'>
                                                    <div class="form-group">
                                                        Activity Date
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <input type='text' class="form-control" name="date2" placeholder="Activity: Date" contenteditable="false"/>
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>                                   

                                    <div class="form-group">  
                                    <div class="pull-right">                                                                
                                            <button type="submit" class="btn btn-default"> Save <span class="glyphicon glyphicon-ok-sign"></span> </button>                                        
                                            <a href="{{url_for('list_activities') }}" class="btn btn-default">View Activity List <span class="glyphicon glyphicon-th-list"></span> </a>
                                    </div>
                                    <br />
                                    {% if message  %}
                                        <span class="alert alert-success"> {{ message }} </span>
                                    {% endif %}
                                        
                                    </div>
                                </form>
                            </div>
                            <div class="panel panel-footer">

                            </div>
                    </div>
                    </div>
                    <div class="col-md-1">

                    </div>

    
</div>
{% endblock %}
</div>
     <hr  style="margin-bottom: 0px;"/>
     <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8" >
        &copy bucket list application 2017
        </div>


        <div class="col-md-2">

        </div>
     </div>
{% block scripts %}
<script type= "text/javascript" src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
<script type= "text/javascript" src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js') }}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
            $('textarea').val('');
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
{% endblock %}
</html>
